<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/adminDashboard">
                <img class="logo" src="https://www.myfin.bg/assets/images/logo.png" alt="MyFinBank">
            </a></li>
            <li><a routerLink="/adminCustomers">Customers</a></li>
            <li><a routerLink="/adminAccounts">Accounts</a></li>
            <li><a routerLink="/adminLoans">Loans</a></li>
            <li><a routerLink="/adminDeposites">Deposites</a></li>
            <li><a routerLink="/adminTransactions">Transactions</a></li>
            <li><a routerLink="/adminChat">Chat</a></li>
            <li style="margin-left: 450px;"><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
