<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/userDashboard">
                <img class="logo" src="https://www.myfin.bg/assets/images/logo.png" alt="MyFinBank">
            </a></li>
            <li><a routerLink="/userAccount">Account</a></li>
            <li><a routerLink="/userDeposites">Deposits</a></li>
            <li><a routerLink="/userLoan">Loan</a></li>
            <li><a routerLink="/userTransactions">Transactions</a></li>
            <li><a routerLink="/emiCalculator">EMI Calculator</a></li>
            <li><a routerLink="/userChat">Chat</a></li>
            <li style="margin-left: 400px;"><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
